<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
<h1>Registrar</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username, autofocus: true %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email, autofocus: true %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Entrar",:class => "btn btn-primary" %>

    </div>
  </div>
</div
>
<% end %>
